<!DOCTYPE html>
<html>
<head>
    <title>Movies</title>
</head>
<body>
    {{#each movies}}
    <div>
        <h2>{{title}}</h2>
        {{#if posterUrl}}
        <img src="{{posterUrl}}" alt="{{title}}" width="200">
        {{/if}}
    </div>
    {{/each}}
</body>
</html>